* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__dropdown {
  background-color: white;
}

.app__header > h1 {
  color: #002fa7;
  font-size: 2rem;
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__info > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app_info {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
